
@{//setting two properties
    ViewBag.Title = "Random"; //sets the title of the page shown in the browser
    Layout = "~/Views/Shared/_Layout.cshtml";//setting the layout for this view
}

<h2>Random</h2>

