@* Using a directive to specify the model for this view *@
@model Vidly.ViewModels.RandomMoviewViewModel

@*setting two properties
    sets the title of the page shown in the browser to "Random"
    setting the layout for this view as"_Layout.cshtml" meaning it will embed it within
*@
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Using C#, Every view has a property which gives us access to a model that we pass to it on controller  *@
@{ var className = Model.Customers.Count > 5 ? "popular" : null; }

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie before</p>
}
else
{
    <ul>

        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>

}

